#container {
    background-color: coral;
    
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .caja {
    border: 5px solid red;
    text-align: left;
    width: 200px;
    background-color:cadetblue;
    margin: 10px;
    padding: 5px;
  }